{% load static %}
{% include 'starHtml.html' %}
<title>Centros</title>
{% include 'navBar.html' %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Inicio</a></li>
</ol>

<h1>Centros</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. </p>


<div class="container" style="min-height:50%;">
    <ul class="list-group" style=" cursor:pointer;">
        {% block content %}
        {% for centro in listaCentros %}

        <li class="list-group-item mt-3">
            <div class="row">
                <div class="col-md-4">
                    <a class="link-photo" data-lightbox="img" href="{{ centro.photo.url }}" title="{{ centro.name }}">
                        <img src="{{ centro.photo.url }}" alt="{{ centro.name }}" class="img-fluid" title="{{ centro.name }}">
                    </a>
                    <p class="mt-1">
                        <strong><img src="{% static 'svg/address.svg' %}" alt="" width="25" title="Dirección"></strong>
                        {{ centro.address}}
                    </p>
                </div>
                <div class="col-md-8 align-middle">
                    <a href="{% url 'cursos_list' %}?id={{ centro.id }}" class="centros">
                        <!-- <div> -->
                            <p><strong>Nombre Centro:</strong>
                                <h5>Instituto {{ centro.name }}</h5>
                            </p>
                            <p>
                                <strong>Descripción:</strong> {{ centro.description }}
                            </p>
                            <p><strong><img src="{% static 'svg/live_year.svg' %}" alt="" width="25"
                                        title="En servicio"></strong> {{ centro.anyos_open }} años</p>
                        <!-- </div> -->
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
        {% endblock %}
    </ul>
</div>
{% include 'footer.html' %}
<script src="{% static 'js/executionMenu.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
{% include 'endHtml.html' %}